<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/styles/styles.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id= "hyperlink">
    <h1>Thank you for submitting!</h1>
    <a href="/adminPage">View All Submitions</a>
</body>
</html>